<mat-toolbar color="primary">
    <button routerLink="" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="projects" class="nav-title">Projects</span>
    <span routerLink="tasks" class="nav-title">Tasks</span>
    <span routerLink="login" class="nav-title">Login</span>
    <span routerLink="registration" class="nav-title">Reg</span>
    <span class="spacer"></span>
    <button routerLink="messages" mat-icon-button>
        <mat-icon>mail_circle</mat-icon>
    </button>
    <span></span>
    <button routerLink="profile" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>