<mat-grid-list cols="12" class="conta" rowHeight="fit">
    <mat-grid-tile [colspan]=3 >
        <div class='internalMatGrid'>
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card routerLink="new" class="card">
                    <mat-card-title>Username</mat-card-title>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card routerLink="new" class="card">
                    <mat-card-title>Username</mat-card-title>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=9>
        <h4 class="mat-display-2">Messages</h4>
        <router-outlet></router-outlet>
    </mat-grid-tile>
</mat-grid-list>
