<form>
    <mat-form-field appearance="fill" color="primary" mat-focused style="width: 80vw;">
        <mat-label>Author email:</mat-label>
        <input matInput type="text" [(ngModel)]="form.author.email" name="email">
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary" mat-focused style="width: 80vw;">
        <mat-label>Name:</mat-label>
        <input matInput type="text" [(ngModel)]="form.name" name="name">
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary" mat-focused style="width: 80vw;">
        <mat-label>Description:</mat-label>
        <input matInput type="text" [(ngModel)]="form.description" name="description">
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary" mat-focused style="width: 80vw;">
        <mat-label>End date:</mat-label>
        <input matInput type="date" [(ngModel)]="form.end_date" name="end_date">
    </mat-form-field>
</form>
<button (click)="edit()">Save</button>